<div class="item item-body no-padding text-bottom bottom" scroll="false">
  <button ng-show="p.video" class="button full-image icon ion-play" ng-click="$parent.playVideo(p.video);"></button>
  
  <img  class="full-image" ng-src="{{p.img}}">

  {{p.text | htmlToPlain}}
    <div class="row no-margin">
      <div class="col text-left no-margin">
        <button ng-show="$parent.isWebView" class="no-margin button button-positive-clear positive icon ion-android-share-alt" href="#" ng-click="$parent.share(p)">
          Share
        </button>
        <button ng-hide="$parent.isWebView" class="no-margin button button-positive-clear positive icon ion-ios-upload" ng-href="{{p.link}}" target="_blank">
          Original Link
        </button>
      </div>
      <div class="col text-right no-margin">
        <button class="no-margin button button-positive-clear positive icon ion-ios-close" href="#" ng-click="p.hide=true; $parent.hidePhoto(p);"> 
          Hide Post
        </button>
      </div>
    </div>
  
  <!-- <a class="button icon ion-ios-upload" ng-href="{{p.link}}" 
        onclick="window.open(this.href, '_system', 'location=yes'); return false;"></a> -->
  <!--
    <a ng-show="!p.video" href="#" ng-click="$parent.showImg(p.img);">  
       <img class="full-image" ng-src="{{p.img}}">
      </a>
  -->
</div> 