<div class="item item-avatar">
      <img ng-src="{{p.userimg}}"></img>
      <h2>{{p.username}}</h2>
      <p> 
        <span ng-show="p.source=='instagram'" class="icon ion-social-instagram"></span>
        <span ng-show="p.source=='twitter'" class="icon ion-social-twitter"></span>
        <span ng-show="p.source=='tumblr'" class="icon ion-social-tumblr"></span>
        <span ng-show="p.source=='weibo'" class="icon"><img src="img/weibo.png"></span>

     
       {{p.createdtime|timeAgo}}
       <span class="badge badge-positive">{{p.likes|number}} Likes</span>
      </p>
</div>  <!-- item -->