<div class="item item-body no-padding text-bottom bottom" scroll="false">
  <a ng-show="p.video" class="button full-image icon ion-play" ng-click="$parent.playVideo(p.video);">
    <img id="image" class="full-image video" ng-src="{{p.img}}">
  </a> 
  
  <img ng-show="!p.video" class="full-image" ng-src="{{p.img}}">

  <p>
    {{p.text | htmlToPlain}}
    <a ng-show="$parent.isWebView" class="item item-icon-left positive" href="#" ng-click="$parent.share(p)">
      <i class="icon ion-android-share-alt"></i> Share
    </a>
    <a ng-hide="$parent.isWebView" class="item item-icon-left positive" ng-href="{{p.link}}" target="_blank">
      <i class="icon ion-ios-upload"></i> Original Link
    </a>
  </p>
  
  <!-- <a class="button icon ion-ios-upload" ng-href="{{p.link}}" 
        onclick="window.open(this.href, '_system', 'location=yes'); return false;"></a> -->
  <!--
    <a ng-show="!p.video" href="#" ng-click="$parent.showImg(p.img);">  
       <img class="full-image" ng-src="{{p.img}}">
      </a>
  -->
</div> 