<!--
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="var.search">
  </label>
</div>
-->
<!--
<div class="bar bar-footer bar-balanced"">
  <a href="Top_Photos-0.0.1.apk" class="button icon ion-social-android button-clear"></a>
  <div class="title"><a href="Top_Photos-0.0.1.apk">Download Android APK (Beta)</a></div>
</div>
-->

<ion-header-bar  class="bar  bar-light">
  <div class="buttons">
    <label class="toggle">
       <input type="checkbox" ng-model="var.order" ng-change="var.switchLoading=true;getImages(true);">
       <div class="track">
         <div class="handle"></div>
       </div>
    </label>
    &nbsp;
    <span ng-show="var.order">Popular</span>
    <span ng-hide="var.order">Recent</span>

    <ion-spinner ng-show="var.switchLoading"></ion-spinner>
  </div>

  <h2 class="title">Today</h2>

  <div class="buttons">     
    <a class="button button-stable icon ion-trophy" href="#/bob">Daily Best</a>   
  </div>    
</ion-header-bar>

<!--
<div class="list list-inset" class="has-header">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="var.search">
  </label>
</div>
-->


<ion-content class="has-header" overflow-scroll="false" delegate-handle="mainScroll" zooming="false">

  <ion-refresher pulling-text="Pull to refresh..." on-refresh="getImages(true)">
  </ion-refresher>

  <div ng-if="var.errorTrialCount">
    <button class="button button-full button-energized icon ion-alert-circled" ng-click="getImages(true)">
      Internet disconnected (tried {{var.errorTrialCount}} times). <p>Press here to reconnect!
    </button>
  </div>

  <!-- show spinner when there is no data
        Do not show if there is an error.  -->
  <!-- <ion-spinner class="overlay_center" ng-hide="smiles.length || var.errorTrialCount"></ion-spinner> -->

  <!-- <div class="list card"  ng-repeat="p in smiles | search:var.search:comparator"> -->

  <div class="list card" scroll="false" ng-repeat="p in smiles">
    <item-head p="p"></item-head>
    <item-body p="p"></item-body>
  </div>

  <ion-infinite-scroll
    ng-if="!var.errorTrialCount"
    on-infinite="getImages();"
    distance="10%">
  </ion-infinite-scroll>

  <div ng-if="var.errorTrialCount && smiles.length">
    <button class="button button-full button-energized icon ion-alert-circled" ng-click="getImages()">
      Internet disconnected (tried {{var.errorTrialCount}} times). <p>Press here to reconnect!
    </button>
  </div>

  <div class="text-right">
    <ion-spinner ng-show="var.buttonLoading"></ion-spinner>
    <a class="button icon-right ion-chevron-right button-calm" ng-click="var.buttonLoading=true; getImages();">More Pictures</a>
  </div>
 </ion-content>


